<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nigakolczan.apk2">
    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RPG"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WorkActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".RestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TestGroundActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".SkillAddActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".TavernActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>